/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(fonts/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(fonts/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(fonts/WB2LNay3rHMH1zU8UJnUHBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(fonts/ElUAY9q6T0Ayx4zWzW63VFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
	font-family: "Comfortaa-Light";
	src: url("/fonts/Comfortaa/Comfortaa-Light.ttf")
	  format("truetype");
	font-weight: normal;
	font-style: normal;
  }

@font-face {
font-family: "Comfortaa-Regular";
src: url("/fonts/Comfortaa/Comfortaa-Regular.ttf")
format("truetype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Comfortaa-Medium";
src: url("/fonts/Comfortaa/Comfortaa-Medium.ttf")
format("truetype");
font-weight: normal;
font-style: normal;
}



@font-face {
font-family: "Comfortaa-Bold";
src: url("/fonts/Comfortaa/Comfortaa-Bold.ttf")
format("truetype");
font-weight: normal;
font-style: normal;
}


@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EB Garamond/EBGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EB Garamond/EBGaramond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EB Garamond/EBGaramond-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EB Garamond/EBGaramond-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}



@font-face {
  font-family: 'GoogleSans-Regular';
  src: url('/fonts/Google-Sans/GoogleSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





@font-face {
  font-family: 'GoogleSans-Bold';
  src: url('/fonts/Google-Sans/GoogleSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleSans-Italic';
  src: url('/fonts/Google-Sans/GoogleSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GoogleSans-BoldItalic';
  src: url('/fonts/Google-Sans/GoogleSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}





@font-face {
  font-family: 'Jost-Regular';
  src: url('/fonts/Jost/Jost-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jost-Bold';
  src: url('/fonts/Jost/Jost-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Jost-Italic';
  src: url('/fonts/Jost/Jost-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Jost-BoldItalic';
  src: url('/fonts/Jost/Jost-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
	font-family: "Jost-Medium";
	src: url("/fonts/Jost/Jost-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }



@font-face {
	font-family: "Jost-Light";
	src: url("/fonts/Jost/Jost-Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }


  @font-face {
	font-family: "Jost-LightItalic";
	src: url("/fonts/Jost/Jost-LightItalic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }