
.centered-image {
	display: block;
	margin: 0 auto;
	max-width: 100%; /* Adjust the width as needed */
	width: 100%;
}

img
{
	max-width: 15%;
}

.image-left, .image-right
{
	margin: 1em 0;
}

@media (min-width: 20em)
{
	.image-left, .image-right
	{
		display: flex;
		align-items: center;
	}

	.image-left img
	{
		margin-right: 1em;
		float: left; /* fallback */
	}

	.image-right img
	{
		order: 1;
		margin-left: 1em;
		float: right; /* fallback */
	}
	
	/* clearfix for fallback */
	.image-left::after,
	.image-right::after
	{
		content: "";
  	display: block;
		clear: both;
	}
}

@media (min-width: 30em)
{
	.image-left img, .image-right img
	{
		flex-shrink: 0;
	}
}

.pompiere-regular {
	font-family: "Pompiere", serif;
	font-weight: 400;
	font-style: normal;
}  

.poiret-one-regular {
	font-family: "Poiret One", serif;
	font-weight: 400;
	font-style: normal;
}
  

blockquote {
	font-family: "Comfortaa-Medium", sans-serif;
	font-style: "normal"!important;
    margin: 1.5em 0px;
    padding: 1px 10px;
	font-size: 16px;
	text-align: justify;
}


